@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Sans Default";
    src: url("font/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  }

  @font-face {
    font-family: "Source Sans Default Bold";
    src: url("font/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  }
  @font-face {
    font-family: "Sans Default Bold";
    src: url("font/27Sans/27Sans-Bold.ttf");
  }

  @font-face {
    font-family: "Sans Default";
    src: url("font/27Sans/27Sans-Light.ttf");
  }



  .trygButton {
    background-color: #dc0000; /* Green */
    border: none;
    color: white;
    height: 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    background: linear-gradient(to right, #a22015 50%, #dc0000 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.2s ease-out;
  }

  .trygButton:hover {
    background-position: left bottom;
    background-color: #a22015;
  }

/* Number input */

}